matrix:
  include:
    - language: python
      python: 3.6
      before_script:
        - npm install && npx ts-node tools/set-build-version.ts
        - cd libraries/mt_python
        - sh tools/setup.sh
      script:
        - sh tools/test.sh
      after_success:
        - echo "todo: python coverage reporting to coveralls"
        - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then sh tools/deploy.sh; fi

    - language: node_js
      node_js: '11'
      before_script:
        - cd libraries/mt_typescript
        - sh tools/setup.sh
      script:
        - sh tools/test.sh
      after_success:
        - npm run travis-deploy-once "npm run report-coverage"
        - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then npm run travis-deploy-once "npm run deploy-docs"; fi
        - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then npm run travis-deploy-once "npm run semantic-release"; fi
cache:
  directories:
    - ~/.npm
notifications:
  email: false
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
